main {
  .BG-top {
    height: 20vh;
    background-image: url(../../../public/images/bg-header-desktop.svg);
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
  }
  .filter-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: -20px auto;
    background-color: #fff;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    .filters {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .chosen-holder {
        display: flex;
        align-items: center;
        margin-right: 15px;
        .chosen-item {
          display: block;
          padding: 8px 10px;
          background-color: hsl(180, 31%, 95%);
          color: hsl(180, 29%, 50%);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .clear-chosen {
          background-color: hsl(180, 29%, 50%);
          color: #fff;
          padding: 8px 10px;
          border: none;
          cursor: pointer;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: 0.3s;
          &:hover {
            background-color: hsl(180, 14%, 20%);
          }
        }
      }
    }
    .clear {
      background-color: transparent;
      border: none;
      font: {
        size: 14px;
        weight: 500;
      }
      color: hsl(180, 29%, 50%);
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
